h1 {
    text-align: center
}
.chart {
    max-width:400px;
    margin:auto;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  max-width: 120px;
  height: auto;
  max-height:80;
  padding: 8px;
  font: 12px sans-serif;
  background: #444444;
  color: #ffffff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
