<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href={{ url_for('static', filename='style.css') }}>
        <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
        <link href={{ url_for('static', filename='./bower_components/jquery.tipsy/css/jquery.tipsy.css') }} rel="stylesheet" media="screen">
    </head>
    <body>
        <h1>NBA Contracts</h1>
        <div class="chart"></div>
        <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
        <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
        <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
        <script src={{ url_for('static', filename='./bower_components/jquery.tipsy/js/jquery.tipsy.min.js') }}></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </body>
</html>
